{% extends 'base.html.twig' %}

{% block title %}Sylvain GARRIGUES - Projets{% endblock %}

{% block content %}
    <div>
        <h2>Informatique</h2>
        <h4>Shopephemere.com</h4>
        <p>Pour valider ma licence professionnelle de Concepteur d'applications, j'ai réalisé un stage de 2 mois dans une société spécialisée dans la création de site internet. Le site a principalement été créé via le CMS Prestashop. Mon role étant de créer les parties du site devant être codées de facon classique via du HTML et du Javascript</p>
        <br>
        <p>J'ai par exemple réalisé un carrousel présentant les produits vendus sur le site.</p>
        <a class="text-primary text-decoration-none" href="https://shopephemere.fr/fr/marque/17-lacoste">Voir le carousel</a>

    </div>
{% endblock %}
