{% extends 'base.html.twig' %}

{% block title %}Sylvain GARRIGUES - Projets{% endblock %}

{% block content %}
<div id="content_container">
    <div class="block">
        <h2>Informatique</h2>
        <a class="text-decoration-none" href="https://shopephemere.fr/fr/"><h4 class="text-info">Shopephemere.fr</h4></a>
        <p>Pour valider ma licence professionnelle de Concepteur d'applications, j'ai réalisé un stage de 2 mois dans une société spécialisée dans la création de site internet. Le site a principalement été créé via le CMS Prestashop. Mon role étant de créer les parties du site devant être codées de facon classique via du HTML et du Javascript</p>
        <br>
        <p>Entouré par un UX Designer et un développeur Front, j'ai par exemple réalisé un carrousel présentant les produits vendus sur le site.</p>
        <p><a class="text-primary text-decoration-none font-weight-bold" href="https://shopephemere.fr/fr/marque/17-lacoste">Voir le carousel</a></p>
        <br>
        <a class="text-decoration-none" href="https://statisticfootball.herokuapp.com/"><h4 class="text-info">Projet Personnel - Statistic Football</h4></a>
        <p>Pourquoi ce projet :</p><br>
        <p>Passionné de football depuis tout petit, je voue un intérêt important pour ce sport que j’ai
        longtemps pratiqué. <br>
        Créer une appli dans ce domaine me paraissait donc une évidence. <br>
        Dans le football, les propriétaires des clubs sont souvent des patrons de grosses sociétés qui,
        désormais, ne souhaitent ou ne peuvent plus investir d’argent, comme c’était le cas par le
        passé. <br>
        Les propriétaires sont donc contraints de gérer leurs clubs avec des moyens de plus en plus
        limités, voire très limités pour certains.<br>
        Les plus gros postes de dépenses dans une structure professionnelle telle qu’un club de
        football, sont principalement les salaires et les achats de joueurs via le recrutement.<br>
        Vous l’aurez compris, le recrutement est un élément sensible et déterminant pour les clubs.
        Il devient impératif de ne pas se tromper.<br>
        Il convient donc d’acheter à moindre coût et de revendre, dans l’idéal, au prix fort.<br>
        Le football professionnel actuel suit le phénomène de la digitalisation et se tourne désormais
        lui aussi vers le numérique.
        <br>
        La Data est un ensemble de bases de données permettant d’analyser les performances des
        équipes et des joueurs professionnels à l’échelle mondiale.<br>
        Pour détecter la perle rare, les recruteurs ont donc recours à la « Data ».
        Celle-ci permet d’analyser les performances de nombreux joueurs et d’effectuer ainsi une
        présélection suivant les profils recherchés.<br>
        </p>

        <h2>Aéronautique</h2>
        <p>Durant 15 années passées dans l'aéronautique, j'ai occupé différents postes de techniciens sur les chaines de fabrications           Airbus de Toulouse.
            <br><br>
        Tout d'abord en 2004, j'intègre le service "rattrapages électriques", sur le programme A380, chargé d'intervenir sur non les non conformités détectées sur les avions et de faire appliquer les mise a jour de définition durant la production. A mon arrivée le premier avion n'est pas encore assemblé, nous sommes au tout début du programme. Le travail ne manque pas, les problématiques sont diverses et variées, le tout dans un contexte international tendu, ce qui ne facilite pas la tâche :)
            <br><br>
        En 2014, je rejoins le programme A350, à son lancement, au sein du "détachement NZ", chargé quant à lui, de faire appliquer sur Toulouse, les travaux non réalisés dans les usines de Saint Nazaire (installations mécaniques et électriques sur la pointe avant et le tronçon central)
            <br><br>
            En 2018 j’intègre, en tant que technicien méthode, JVAeroservices, une PME montalbanaise qui fabrique des sièges pour l’aéronautique civile et militaire. Ces sièges sont actuellement les sièges aéronautiques les plus légers du monde.
        <br><br>

        Dans cette société, je participe à la mise en place d’une chaîne de sièges ultra légers destinés au transport régional, pour des avions de type ATR notamment. J'élabore notamment un kanban et réalise la mise en place des postes de travail de la chaine (fiches outillages, 5S et fiches d'instructions) Je m'occupe de la gestion de configuration et réalise les gammes de travail pour chacun des postes de la ligne.
            </p>


    </div>
</div>
{% endblock %}
