{% extends 'base.html.twig' %}

{% block title %}Sylvain GARRIGUES - Projets{% endblock %}

{% block content %}
    <div>
        <h2>Informatique</h2>
        <a class="text-decoration-none" href="https://shopephemere.fr/fr/"><h4 class="text-info">Shopephemere.fr</h4></a>
        <p>Pour valider ma licence professionnelle de Concepteur d'applications, j'ai réalisé un stage de 2 mois dans une société spécialisée dans la création de site internet. Le site a principalement été créé via le CMS Prestashop. Mon role étant de créer les parties du site devant être codées de facon classique via du HTML et du Javascript</p>
        <br>
        <p>Entouré par un UX Designer et un développeur Front, j'ai par exemple réalisé un carrousel présentant les produits vendus sur le site.</p>
        <p><a class="text-primary text-decoration-none font-weight-bold" href="https://shopephemere.fr/fr/marque/17-lacoste">Voir le carousel</a></p>
        <br>
        <a class="text-decoration-none" href="https://statisticfootball.herokuapp.com/"><h4 class="text-info">Projet Personnel - Statistic Football</h4></a>
        <p>Pourquoi ce projet :</p><br>
        <p>Passionné de football depuis tout petit, je voue un intérêt important pour ce sport que j’ai
        longtemps pratiqué. <br>
        Créer une appli dans ce domaine me paraissait donc une évidence. <br>
        Dans le football, les propriétaires des clubs sont souvent des patrons de grosses sociétés qui,
        désormais, ne souhaitent ou ne peuvent plus investir d’argent, comme c’était le cas par le
        passé. <br>
        Les propriétaires sont donc contraints de gérer leurs clubs avec des moyens de plus en plus
        limités, voire très limités pour certains.<br>
        Les plus gros postes de dépenses dans une structure professionnelle telle qu’un club de
        football, sont principalement les salaires et les achats de joueurs via le recrutement.<br>
        Vous l’aurez compris, le recrutement est un élément sensible et déterminant pour les clubs.
        Il devient impératif de ne pas se tromper.<br>
        Il convient donc d’acheter à moindre coût et de revendre, dans l’idéal, au prix fort.<br>
        Le football professionnel actuel suit le phénomène de la digitalisation et se tourne désormais
        lui aussi vers le numérique.
        <br>
        La Data est un ensemble de bases de données permettant d’analyser les performances des
        équipes et des joueurs professionnels à l’échelle mondiale.<br>
        Pour détecter la perle rare, les recruteurs ont donc recours à la « Data ».
        Celle-ci permet d’analyser les performances de nombreux joueurs et d’effectuer ainsi une
        présélection suivant les profils recherchés.<br>
        </p>

        <h2>Aéronautique</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, cum cupiditate deserunt dignissimos distinctio dolore dolorem incidunt laboriosam magnam natus necessitatibus odio omnis, ratione repellendus saepe. Commodi consectetur, sit? Cum, doloremque quo. Autem consectetur dicta eligendi! Aliquam aliquid aperiam asperiores corporis doloremque dolores doloribus fugit hic impedit ipsum iste libero maiores maxime omnis, praesentium provident similique sint temporibus totam ullam ut, veniam voluptas voluptates! Aut dignissimos dolor eius expedita maiores minima molestiae officia pariatur ratione rerum. A ad corporis dignissimos dolores eveniet, impedit in, ipsum iusto nemo numquam perferendis rem. Ad consequuntur cum dolor eaque earum expedita illum ipsa ipsum laboriosam libero magnam, maiores necessitatibus nostrum omnis optio pariatur quisquam ratione, reiciendis repudiandae saepe suscipit unde, veritatis vitae? Aperiam asperiores commodi consequatur culpa doloremque eum facere, illo in laborum magni minus molestiae nostrum placeat porro possimus quae quo repudiandae! Amet dignissimos eaque expedita fuga incidunt inventore ipsa laudantium, libero minus non nostrum nulla perspiciatis possimus repellat tempora temporibus vero? Amet nisi perspiciatis quia tenetur. Amet atque aut commodi consectetur cupiditate debitis dicta distinctio, eaque enim harum hic iure necessitatibus nihil nisi numquam qui totam? Aliquam deleniti dolore, id ipsum iste nemo nostrum nulla quaerat voluptates voluptatibus. Accusamus minus repellat saepe.</p>

    </div>
{% endblock %}
