{% extends 'base.html.twig' %}

{% block content %}

        <!-- PROFILE CONTENT -->
        <div id="content_container">
            <div class="block">
                <h1>Profile</h1>
                <blockquote class="profile_quote">
                    <p>"There is no end to education. It is not that you read a book, pass an examination, and finish with education. The whole of life, from the moment you are born to the moment you die, is a process of learning."</p>
                    <p>Jiddu Krishnamurti.</p>
                    <span class="entypo-quote"></span>
                </blockquote>
            </div>
            <div class="block">
                <h2>Présentation</h2>
                <p>Depuis 2020, je suis en reconversion dans l'informatique.<br>
                   Cette reconversion fait suite a 15 années passées dans l'aéronautique, sur le site Airbus de Toulouse, en tant que technicien.<br>
                    Depuis le début de ma carrière professionnelle, j'ai participé au lancement de plusieurs projets d'envergures tels que l'A380 et l'A350. Véritable technicien, j'ai un attrait certain pour les nouvelles technologies, la résolution de problématiques et le travail en équipe.<br>
                </p>
            </div>
            <div class="horizontal_line">
                <div class="line_left"></div>
                <div class="left_circle"></div>
                <div class="central_circle"></div>
                <div class="right_circle"></div>
                <div class="line_right"></div>
            </div>
            <div class="block">
                <h2>Savoir être</h2>
                <p>Les valeurs qui me caractérisent :</p>
                <div class="philosophy_content">
                    <ul>
                        <li>Adaptabilité</li>
                        <li>Travail en équipe</li>
                        <li>Gestion des
                            priorités</li>
                        <li>Proactif</li>
                        <li>Curieux</li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="horizontal_line">
                <div class="line_left"></div>
                <div class="left_circle"></div>
                <div class="central_circle"></div>
                <div class="right_circle"></div>
                <div class="line_right"></div>
            </div>
            <div class="last block">
                <h2>Intérêts</h2>
                <p>Mes loisirs et passions :</p>
                <ul>
                    <li>VTT (Cross-country)</li>
                    <li>Musique</li>
                    <li>Sports</li>

                </ul>
            </div>
        </div>

{% endblock %}
