{% extends 'base.html.twig' %}

{% block content %}

        <!-- PROFILE CONTENT -->
        <div id="content_container">
            <div class="block">
                <h1>Profil</h1>
                <blockquote class="profile_quote">
                    <p>"Le travail individuel permet de gagner un match mais c'est l'esprit d'équipe et l'intelligence collective qui permet de gagner la coupe du monde."</p>
                    <p>Aimé Jacquet</p>
                    <span class="entypo-quote"></span>
                </blockquote>
            </div>
            <br>
            <div class="block">
                <h2>Présentation</h2>
                <p>Je m’appelle Sylvain Garrigues, j’ai 40 ans et je vis à Nohic, un petit village du Tarn et Garonne.
                    <br> <br>
                    Mon expérience professionnelle est essentiellement tournée vers l’aéronautique, avec notamment <strong>15
                    années passées sur le site Airbus de Toulouse</strong> pour la société AAA, un des plus gros sous-traitants
                    aéronautiques Toulousain et Français.<br><br>
                    En <strong>2004</strong> j’intègre le site Jean Luc Lagardère de Blagnac, pour prendre part au lancement de                   l’<strong>A380</strong>.<br>
                    J’occupe alors un poste de </strong>préparateur</strong> sur la partie électrique du programme (installation des harnais)
                    Mon travail consiste à faire appliquer en production les modifications de notices (appelées
                    gammes) transmises par le bureau d’étude.<br><br>
                    En <strong>2008</strong> je me rapproche de la production en occupant le poste de </strong>support technique</strong>. Mon                      rôle est d’accompagner les compagnons et de répondre aux problématiques rencontrées lors de l’application
                    des modes opératoires de travail.<br><br>
                    En <strong>2014</strong> j’intègre le programme <strong>A350</strong> pour participer au lancement de celui-ci en tant que                     <strong>coordinateur technique</strong> pour le détachement du site Saint Nazaire. Ma mission sera de séquencer les                            interventions
                    les équipes logistiques et qualité, tout en veillant au strict respect des échéances pour les travaux non
                    effectués, par manque de temps, dans les usines de Saint Nazaire.<br><br>
                    En <strong>2018</strong> j’intègre, en tant que <strong>technicien méthode</strong>, JVAeroservices, une PME montalbanaise                     qui fabrique des sièges pour l’aéronautique civile et militaire.<br>
                    Dans cette société, je participe à la mise en place d’une chaîne de sièges ultra légers destinés au
                    transport régional, pour des avions de type ATR notamment.<br>
                    Ces sièges sont actuellement les sièges aéronautiques les plus légers du monde.<br><br>
                    En <strong>2020</strong>, la crise économique due au Covid impacte fortement l’aéronautique. Mon entreprise                   doit réduire ses effectifs et une partie des employés doit quitter la société. J’en fais malheureusement                      partie.
                    <br><br>
                    Je décide de valoriser cet imprévu en me reconvertissant dans un secteur en plein développement,                              l’informatique.
                    <br><br>
                    Je débute ma formation de <strong>Concepteur et développeur d’applications</strong> en novembre 2020 et obtient mon                         diplôme en Juillet 2021.
                    <br>
                </p>
            </div>
            <div class="horizontal_line">
                <div class="line_left"></div>
                <div class="left_circle"></div>
                <div class="central_circle"></div>
                <div class="right_circle"></div>
                <div class="line_right"></div>
            </div>
            <div class="block">
                <h2>Savoir être</h2>
                <p>Les valeurs qui me caractérisent :</p>
                <div class="philosophy_content">
                    <ul>
                        <li>Adaptabilité</li>
                        <li>Travail en équipe</li>
                        <li>Gestion des
                            priorités</li>
                        <li>Proactif</li>
                        <li>Curieux</li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="horizontal_line">
                <div class="line_left"></div>
                <div class="left_circle"></div>
                <div class="central_circle"></div>
                <div class="right_circle"></div>
                <div class="line_right"></div>
            </div>
            <div class="last block">
                <h2>Intérêts</h2>
                <p>Mes loisirs et passions :</p>
                <ul>
                    <li>VTT (Cross-country)</li>
                    <li>Musique</li>
                    <li>Sports</li>

                </ul>
            </div>
        </div>

{% endblock %}
