@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* Utils */

.clear {
    clear: both;
}
.purple {
    color: #837c9a;
}

.block {
    margin: 25px 30px;
}
.block h1 {
    margin-left: -5px;
    font-weight: 200;
}

.last.block {
    margin-bottom: 110px;
}
.last.block ul {
    padding-left: 40px;
}

.horizontal_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.horizontal_list li {
    float: left;
}
.horizontal_list li:before {
    content: none;
}
.horizontal_list li {
    padding-left: 0;
    text-indent: 0;
}

.horizontal_line{
    margin: 34px 0 0 30px;
    height: 26px;
    position: relative;
}
.line_left,
.line_right{
    border-top: 1px solid #434247;
    width: 305px;
    margin-top: 13px;
}
.line_left{
    float: left;
}
.line_right {
    float: right;
}
.left_circle,
.central_circle,
.right_circle {
    background: rgb(69,68,73);
    background: rgba(255,255,255, 0.15);
    position: absolute;
    border-radius: 50px;
}
.left_circle,
.right_circle {
    width: 13px;
    height: 13px;
    top: 7px;
}
.left_circle{
    left: 314px;
}
.central_circle{
    width: 26px;
    height: 26px;
    top: 0;
    left: 322px;
}
.right_circle{
    left: 343px;
}

/* Main tags */

body {
    background: url(https://images.unsplash.com/photo-1542086820-c7deffc43109?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-size: 100%;

}

h1,h2,h3, h4 {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
    color: #48DA9B;
}
h1 {
    font-size: 48px;
    font-weight: 300;
    margin: 20px 0;
}
h2 {
    font-size: 28px;
    margin: 32px 0 24px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
    font-weight: 400;
}

blockquote {
    font-style: italic;
    margin: 25px 0;
    padding-left: 20px;
    border-left: 2px solid #48DA9B;
}

blockquote, p , a, li {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #e4e3e8;
}

a:focus {
    outline: none;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}
li {
    padding-left: 1em;
    text-indent: -.7em;
}
li:before {
    content: "• ";
    color: #837c9a;
    font-size: 20px;
    padding-right: 8px;
}

/* Containers size */

#main_container {
    width: 960px;
    margin: 0 auto;
}
#header {
    height: 130px;
    border-bottom: 1px solid #403F44;
}
.header_logotype_container {
    width: 260px;
    height: 130px;
    border-right: 1px solid #403F44;
    float: left;
}
.header_menu_container {
    height: 130px;
    width: 699px;
    float: left;
}
.header_menu_container a {
    font-family: 'Lato', Helvetica, sans-serif;
}
#left_col {
    width: 260px;
    padding-left: 30px;
    float: left;
}
#content_container {
    width: 699px;
    border-left: 1px solid #403F44;
    float: left;
}
#footer {
    width:100%;
    height: 60px;
    border-top: 1px solid #403F44;
    text-align: center;
    display: inline-block;
}

/* HEADER */

.logotype_name{
    text-transform: uppercase;
    font-size: 32px;
    margin: 43px 0 0;
}
.logotype_occupation{
    text-transform: uppercase;
    margin-top: 5px;
    color: #5ce2af;
    font-size: 14px;
    letter-spacing: 2px;
    padding-left: 7px;
}

.download_print_buttons {
    width: 225px;
    height: 45px;
    float: right;
}
.download_print_buttons a {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-style: italic;
    line-height: 45px;
    padding: 16px 17px;
    background: #353638;
}
.download_print_buttons a:hover {
    background: #020609;
}
.download_print_buttons .icon {
    color: #02070a;
    padding-right: 6px;
    font-style: normal;
    font-size: 18px;
}
.icon-angle-double-right {
    position: relative;
    top: 2px;
}
.download_print_buttons a:hover .icon {
    color: #e4e3e8;
}

.header_menu {
    width: 699px;
    margin-top: 40px;
    margin-left: 5px;
}
.header_menu a{
    text-decoration: none;
    padding: 0 20px;
    border-left: 1px solid #e4e3e8;
    font-size: 16px;
    font-weight: 400;
}
.header_menu a.no_border{
    border-left: none;
}
.header_menu a:hover {
    color: #837c9a;
}

/* LEFT NAV */

#left_nav h2 {
    margin: 0;
    font-size: 24px;
}

.profile_frame{
    width: 150px;
    height: 180px;
    /*background: black;*/
    /*border: 1px solid #403F44;*/
    margin-top:40px;
}
.profile_frame img{
    border-radius: 20px;
}

.profile_picture {
    /*width: 120px;*/
    /*height: 120px;*/
    /*margin:10px;*/
    background: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/86033/profile/profile-512_3.jpg) 100% /210px no-repeat;
}
.profile_picture img {
    margin: 10px;
}

.hello_content,
.contact_details_content {
    margin-top: 25px;
}

.hello_content{
    width: 230px;
}
.contact_details_content h2 + p.purple{
    margin-top: 10px;
}
.contact_details_content p{
    margin: 0;
}
.contact_details_content p.purple{
    margin-top: 25px;
}

.send_message_button,
.special_button {
    margin-top: 25px;
    display: block;
    background: #48DA9B;
    width: 230px;
    height: 50px;
    position: relative;
    z-index: 1;
}
.cut1:after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: -20px;
    width: 30px;
    height: 30px;
    z-index: 9;
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/dark_wall.png) repeat;
    transform: rotate(45deg);
}
.cut2:before {
    content: "";
    position: absolute;
    top: -19px;
    right: -20px;
    width: 30px;
    height: 30px;
    z-index: 9;
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/dark_wall.png) repeat;
    transform: rotate(45deg);
}
.content {
    text-align: center;
    color: #04080b;
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 2;
    font: 18px 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 16px 0 0;
    top: -4px;
    bottom: 10px;
    border-top: 1px solid #403F44;
    border-bottom: 1px solid #403F44;
}
.send_message_button:hover,
.special_button:hover {
    background: #29C782;
}

.get_social_content {
    margin-top: 15px;
}
.get_social_content h2{
    margin-bottom: 8px;
}
.social_icons {
    margin-left: -8px;
}
.social_icons a {
    font-size: 35px;
    text-decoration: none;
    padding: 0 5px;
}
.social_icons a span.invisible {
    display:none;
}
.social_icons .facebook:hover{
    background: #3b5998;
    color: #dfe3ee;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.social_icons .twitter:hover{
    background: #00B0ED;
    color: #fff;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.social_icons .linkedin:hover{
    background: #007bb6;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.footer_name {
    font-style: italic;
    margin-top: 20px;
}

/* Profile Content */

.profile_quote {
    position: relative;
    /* margin-left: 5px; */
}
.profile_quote p {
    font-size: 17px;
    width: 455px;
}
.profile_quote  .entypo-quote {
    color: #3d3a41;
    font-size: 80px;
    font-style: normal;
    position: absolute;
    top: -20px;
    right: 70px;
    cursor: default;
}

.philosophy_content {
    margin-top: 20px;
}
.philosophy_content p {
    margin: 0;
    width: 370px;
    float: left;
}
.philosophy_content ul {
    float: left;
    padding-left: 40px;
}
#menuToggle {
    display: none;
}

@media screen and (max-width: 1024px){


/*MENU BURGER*/

    .header_menu_container{
        display: none;
    }

    #left_col {
        display: none;
    }

    #menu {
        background-color : #3d3a41;
    }

    #menuToggle
    {
        display: block;
        position: relative;
        top: -110px;
        left: 60px;
        margin-bottom: 20px;
        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a
    {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
        color: tomato;
    }


    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
        display: block;
        width: 54px;
        height: 8px;
        margin-bottom: 8px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #c8d3dd;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 100%;
        margin: -100px 0 0 -65px;
        padding-top: 100px;
        padding-bottom: 100px;

        background: url(https://images.unsplash.com/photo-1542086820-c7deffc43109?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
        background-size: 100%;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li:before {
        color: black;
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 60px;
        text-align: center;
        list-style-type: none;

    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: none;
        background-color: #000507;
    }
    .header_logotype_container {
        width: 100%;
        text-align: center;
    }
    .profile_frame {
        margin-top: 0;
    }

    /*header*/

#header {
    height: 166px;
    width: 100%;
}

.logotype_name {
    font-size: 55px;
    margin: 22px 0 0;
}
.logotype_occupation {
    font-size: 40px;
}
/*PAGE PROFIL */

    #content_container {
        width: 100%;
    }
    #content_container p{
        font-size: 35px;
    }

    .profile_quote p{
        width: 100%;
    }
    .profile_quote .entypo-quote
    {
        top: -45px;
        right: -45px;
    }

    .blockquote, p, a, li {
        font-size: 32px;
    }

    .block h2, .block h4, .block p {
        font-size: 32px;
    }

    .block h2 {
        font-size: 40px;
    }
}