{% extends 'base.html.twig' %}

{% block title %}Sylvain GARRIGUES - Scolarité{% endblock %}

{% block content %}
    <div class="block">
        <h2>Formation</h2>
        <p>2021 - Licence Concepteur d'applications - AP Formation</p>
        <p>7 mois de formation en E-Learning</p><br>
        <p>2003 - Formation Catia v5 - IUT Génie mécanique Paul Sabatié</p>

        <p>2002 - BTS Mécanique et Automatisme Industriel - Lycée A.Bourdelle (Montauban 82)</p>

        <p>2000 - BAC STI Génie Electrotechnique - Lycée A.Bourdelle (Montauban 82)</p>
    </div>
{% endblock %}
