{% extends 'base.html.twig' %}

{% block title %}Sylvain GARRIGUES - Scolarité{% endblock %}

{% block content %}
<div id="content_container">
    <div class="block">
        <h2>Formation</h2><br>
        <h4 class="text-light">2021 - Licence Concepteur d'applications - AP Formation</h4>
        <p>7 mois de formation en E-Learning</p><br><br>
        <h4 class="text-light">2003 - Formation Catia v5 - IUT Génie mécanique Paul Sabatié</h4><br>
        <br>
        <h4 class="text-light">2002 - BTS Mécanique et Automatisme Industriel - Lycée A.Bourdelle (Montauban 82)</h4>
        <br>
        <br>
        <h4 class="text-light">2000 - BAC STI Génie Electrotechnique - Lycée A.Bourdelle (Montauban 82)</h4>
    </div>
    </div>
{% endblock %}
