{% extends 'base.html.twig' %}

{% block title %}Sylvain GARRIGUES - Compétences{% endblock %}

{% block content %}
    <div class="block">
        <h2>Compétences - Développement</h2>
        <ul>
            <li>Front-end : HTML, CSS, JS</li>
            <li>Back-end : PHP / Symfony 5,</li>
            <li>POO (MVC)</li>
            <li>BDD : MySQL/Maria DB</li>
            <li>Méthode Merise</li>
        </ul>
        <br>

        <h2>Compétences - Aéronautique</h2>
        <ul>
            <li>Synthétiser et rapporter</li>
            <li>Gestion de projets</li>
            <li>Analyser et résoudre les problèmes</li>
        </ul>

    </div>
{% endblock %}