{% extends 'base.html.twig' %}

{% block title %}Sylvain GARRIGUES - Expériences{% endblock %}

{% block content %}
<div id="content_container">
    <div class="block">
        <h2 >Expériences en Informatique</h2>
        <br>
        <h4 class="text-light">2021 - Licence Concepteur d'applications - AP Formation</h4>
        <p>Création du site <a class="text-info text-decoration-none" href="http://statisticfootball.herokuapp.com/">Statistic Football</a> : Développé via Symfony, utilisation d’API et module de paiement.</p>
        <p>Site e-commerce <a class="text-info text-decoration-none" href="shopephemere.fr">Shopephemere.com</a> : Développé via Prestashop durant le stage de fin de formation.</p>
        <br>
        <hr>
        <br>
        <h2>Expériences en Aéronautique</h2>
        <br>
        <h4 class="text-light">2021-Aujourd'hui : Préparateur Cabine, programme A320, Agir, Site Airbus, Colomiers (31)</h4>
        <ul>
            <li>Gestion de Configuration</li>
            <li>Améliorations continues des gammes de travail</li>
        </ul>

        <br>
        <h4 class="text-light">2018-2020 : Technicien méthodes sur ligne de fabrication de sièges d’avions, JVAeroservice , Montauban (82)</h4>
        <ul>
            <li>Gestion de Configuration</li>
            <li>Mise en place d'un kanban</li>
            <li>Création de fiches d’instruction et fiches 5S par postes</li>
            <li>Gestion du workflow et création de Non-Conformités</li>
        </ul>
        <br><br>
        <h4 class="text-light">2014-2018 Coordinateur Technique pour le détachement NZ, programme A350, AAA, Site Airbus M56 et C63 (P20), Colomiers (31)</h4>
        <ul>
        <li>Gestion des travaux restants NZ Méca et Elec</li>
        <li>Gestion des Demandes d'Assistance</li>
        </ul>

        <br><br>
        <h4 class="text-light">2004-2014 Préparateur / Support Technique REC (Rework Electrical Center) sur le programme A380, AAA, Site Airbus Jean-Luc Lagardère, Blagnac (31)</h4>
        <ul>
            <li>Traitement des Non Conformités</li>
            <li>Assistance technique de la production</li>
            <li>Analyse des croquis (L20, SI) et création des Ordres de Travail</li>
        </ul>
    </div>
</div>
{% endblock %}
